{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/error.css') }}">
    <title> Упс! </title>
{% endblock head %}

{% block menu %}
    <li><a class='main_a' href='/'> Главная </a></li>
    <li><a class='main_a' href='/make'> Создать опрос </a></li>
    {% if session['logged_in'] %}
    <li><a class='main_a' href='/account'> {{ session['username'] }} </a></li>
    <li><a class='main_a' href='/logout'> Выйти </a></li>
    {% else %}
    <li><a class='main_a' href='/login'> Войти </a></li>
    <li><a class='main_a' href='/registration'> Зарегистрироваться </a></li>
    {% endif %}
    <li><a class='main_a' href='/info'> О проекте </a></li>
    <li><a class='main_a' href='/feedback'> Отзыв </a></li>
{% endblock menu %}

{% block content %}
    <h1> Что-то пошло не так </h1>
    <p> Кажется, вы заблудились, но не расстраивайтесь! Пингвин выведет Вас на правильный путь. Смело нажимайте на него! </p>
    <a href='/'><img width='100' src="{{ url_for('static', filename='img/penguin.svg') }}"></a>
{% endblock content %}
