{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/users.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
    <title> Администрирование </title>
{% endblock head %}

{% block menu %}
    <li><a class='main_a' href="/"> Главная </a></li>
    <li><a class='main_a' href='/make'> Создать опрос </a></li>
    {% if session['logged_in'] %}
    <li><a class='main_a' href='/account'> {{ session['username'] }} </a></li>
    <li><a class='main_a' href='/logout'> Выйти </a></li>
    {% else %}
    <li><a class='main_a' href='/login'> Войти </a></li>
    <li><a class='main_a' href='/registration'> Зарегистрироваться </a></li>
    {% endif %}
    <li><a class='main_a' href='/info'> О проекте </a></li>
    <li><a class='main_a' href='/feedback'> Отзыв </a></li>
{% endblock menu %}

{% block content %}
    {% if session['logged_in'] %}
    {% if role == 'admin' or role == 'moderator' %}
    <h1> Список пользователей </h1>
    <div class='main'>
        <div class='line'>
        <p style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial; margin: 20px;">{{ error_text }}</p>
        <p style="color: green; font-size: 0.7rem; font-family:'Roboto Regular', arial; margin: 20px;">{{ success_text }}</p>
        <form action="/admintable" method="POST" name="reg" class='smallform'>
            {{ form.hidden_tag() }}
            <p class='text'> Бан </p>

                {{ form.login(class_='field', placeholder='Логин пользователя', type='text') }} <br>
                {% for error in form.errors.login %}
                <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{ error }}</span>
                {% endfor %} <br>

                <p><input class='but' type="submit" value="Забанить"></p>
            </form>
          </div>
            <div class='line'>
                <p style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial; margin: 20px;">{{ error_text2 }}</p>
                <p style="color: green; font-size: 0.7rem; font-family:'Roboto Regular', arial; margin: 20px;">{{ success_text2 }}</p>
                <form action="/admintable" method="POST" name="reg1" class='smallform'>
                    {{ form2.hidden_tag() }}
                    <p class='text'> Помилование </p>

                    {{ form2.unban(class_='field', placeholder='Логин пользователя', type='text') }} <br>
                    {% for error in form2.errors.login %}
                    <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{ error }}</span>
                    {% endfor %} <br>

                    <p><input class='but' type="submit" value="Помиловать"></p>
                </form>
            </div>
        </div>

        <table>
            <tr class='non-hover'>
              <th> № </th>
              <th> Полное имя </th>
              <th> Почта </th>
              <th> Логин </th>
              <th> Роль </th>
            </tr>
            {% for user in all_users %}
            <tr>
              <td class='left'>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }} </td>
              <td>{{ user.login }}</td>
              <td class='right'> {{ user.role }}</td>
            </tr>
            {% endfor %}
        </table>

    {% elif role == 'user' %}
    Эта страница доступна только администраторам и модераторам. <a href='/make'>Создавайте опрос!</a><br>
    <a href='/make'><img class='earth' src="{{url_for('static', filename='img/planet-earth.svg')}}" alt='img' /></a>
    {% endif %}

    {% else %}
      <a href="/registration"> Присоединяйся к нам! </a><br>
      <a href='/registration'><img class='earth' src="{{url_for('static', filename='img/planet-earth.svg')}}" alt='img' /></a>
    {% endif %}
{% endblock content %}
