{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <title> Пароль </title>
{% endblock head %}

{% block menu %}
     <li><a class='main_a' href='/'> Главная </a></li>
     <li><a class='main_a' href='/make'> Создать опрос </a></li>
     {% if session['logged_in'] %}
     <li><a class='main_a' href='/account'> {{ session['username'] }} </a></li>
     <li><a class='main_a' href='/logout'> Выйти </a></li>
     {% else %}
     <li><a class='main_a' href='/login'> Войти </a></li>
     <li><a class='main_a' href='/registration'> Зарегистрироваться </a></li>
     {% endif %}
     <li><a class='main_a' href='/info'> О проекте </a></li>
     <li><a class='main_a' href='/feedback'> Отзыв </a></li>
{% endblock menu %}

{% block content %}
    {% if session['logged_in'] %}
        <p style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial; margin: 20px;">{{ error_text }}</p>
        <form action="/changepass" method="POST" name="login" class='med_height'>
        {{ form.hidden_tag() }}
        <p class='text'> Смена пароля </p>

        {{form.old_pass(class_='field', placeholder='Старый пароль', type='password')}} <br>
        {% for error in form.errors.old_pass %}
        <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{error}}</span>
        {% endfor %} <br>

        {{ form.new_pass(class_='field', placeholder='Новый пароль', type='password') }} <br />
        {% for error in form.errors.new_pass %}
        <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{error}}</span>
        {% endfor %} <br>

        {{ form.confirm_new_pass(class_='field', placeholder='Подтвердите пароль', type='password') }} <br />
        {% for error in form.errors.confirm_new_pass %}
        <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{error}}</span>
        {% endfor %} <br>

        <p><input class='but' type="submit" value="Поменять"></p>
        </form>
        {% else %}
        <p> Эта страница доступна только авторизованным пользователям. <a href="/login">Присоединяйся к нам!</a></p>
        <a href='/login'><img class='earth' src="{{url_for('static', filename='img/planet-earth.svg')}}" alt='img' /></a>
    {% endif %}
{% endblock content%}
