{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/make.css') }}">
    <title> Отзыв </title>
{% endblock head %}

{% block menu %}
      <li><a class='main_a' href='/'> Главная </a></li>
      <li><a class='main_a' href='/make'> Создать мероприятие </a></li>
      {% if session['logged_in'] %}
      <li><a class='main_a' href='/account'> {{ session['username'] }} </a></li>
      <li><a class='main_a' href='/logout'> Выйти </a></li>
      {% else %}
      <li><a class='main_a' href='/login'> Войти </a></li>
      <li><a class='main_a' href='/registration'> Зарегистрироваться </a></li>
      {% endif %}
      <li><a class='main_a' href='/info'> О проекте </a></li>
      <li><a class='main_a now' href='/feedback'> Отзыв </a></li>
{% endblock menu %}

{% block content %}
    {% if session['logged_in'] %}
        <p>Оставьте Ваш отзыв</p>
        <p style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial; margin: 20px;">{{ error_text }}</p>
        <form action="/feedback" method="POST" name="feedback">
            {{ form.hidden_tag() }}
            <p class='text'> Отзыв </p>
            <hr class='hr-small'>

            {{ form.content(class_='field', placeholder='Напишите пару слов', type='text', size="240", maxLength='256') }} <br>
            {% for error in form.errors.content %}
            <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{ error }}</span>
            {% endfor %} <br>
            <p><input class='but' type="submit" value="Опубликовать"></p>
        </form>
        {% else %}
        <p> Отзыв могут написать только авторизованные пользователи. <a href="/login">Присоединяйся к нам!</a></p>
    {% endif %}
    {% if all_feedbacks %}
    <hr class='hr-small'>
    <h3> Другие отзывы </h3>
    <table>
        <tr class='non-hover'>
            <td> Отзыв </td>
            <td> Автор </td>
        </tr>
        {% for feedback in all_feedbacks %}
        <tr>
          <th class='left'> {{ feedback.content }} </th>
          <th class='right'> {{ feedback.author }} </th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock content %}
