{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/users.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
    <title> Администраторы </title>
{% endblock head %}

{% block menu %}
    <li><a class='main_a' href="/"> Главная </a></li>
    <li><a class='main_a' href='/make'> Создать опрос </a></li>
    {% if session['logged_in'] %}
    <li><a class='main_a' href='/account'> {{ session['username'] }} </a></li>
    <li><a class='main_a' href='/logout'> Выйти </a></li>
    {% else %}
    <li><a class='main_a' href='/login'> Войти </a></li>
    <li><a class='main_a' href='/registration'> Зарегистрироваться </a></li>
    {% endif %}
    <li><a class='main_a' href='/info'> О проекте </a></li>
    <li><a class='main_a' href='/feedback'> Отзыв </a></li>
{% endblock menu %}

{% block content %}
    {% if session['logged_in'] %}
        {% if role == 'admin' %}
        <h1> Список пользователей </h1>
        <div class='main'>
            <div class='line'>
            <p style="color: green; font-size: 0.7rem; font-family:'Roboto Regular', arial; margin: 20px;">{{ success_text }}</p>
            <p style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial; margin: 20px;">{{ error_text }}</p>
                <form action="/king" method="POST" name="login" class='med_height'>
                    {{ form1.hidden_tag() }}
                    <p class='text'> Администратор </p>

                    {{form1.login(class_='field', placeholder='Логин пользователя', type='text')}} <br>
                    {% for error in form1.errors.login %}
                    <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{error}}</span>
                    {% endfor %} <br>

                    {{ form1.password(class_='field', placeholder='Ваш пароль', type='password') }} <br />
                    {% for error in form1.errors.password %}
                    <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{error}}</span>
                    {% endfor %} <br>

                    {{ form1.confirm(class_='field', placeholder='Подтвердите пароль', type='password') }} <br />
                    {% for error in form1.errors.confirm %}
                    <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{error}}</span>
                    {% endfor %} <br>

                    <p><input class='but' type="submit" value="Осчастливить"></p>
                </form>
            </div>

            <div class='line'>
            <p style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial; margin: 20px;">{{ error_text2 }}</p>
                <form action="/king" method="POST" name="login" class='med_height'>
                    {{ form2.hidden_tag() }}
                    <p class='text'> Отдать права </p>

                    {{form2.login(class_='field', placeholder='Ваш логин', type='text')}} <br>
                    {% for error in form2.errors.login %}
                    <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{error}}</span>
                    {% endfor %} <br>

                    {{ form2.password(class_='field', placeholder='Ваш пароль', type='password') }} <br />
                    {% for error in form2.errors.password %}
                    <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{error}}</span>
                    {% endfor %} <br>

                    {{ form2.confirm(class_='field', placeholder='Подтвердите пароль', type='password') }} <br />
                    {% for error in form2.errors.confirm %}
                    <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{error}}</span>
                    {% endfor %} <br>

                    <p><input class='but' type="submit" value="Стать обычным пользователем"></p>
                </form>
            </div>
        </div>

        <table>
            <tr class='non-hover'>
              <th> № </th>
              <th> Полное имя </th>
              <th> Почта </th>
              <th> Логин </th>
              <th> Роль </th>
            </tr>
            {% for user in all_users %}
            <tr>
              <td class='left'>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }} </td>
              <td>{{ user.login }}</td>
              <td class='right'>{{ user.role}}</td>
            </tr>
            {% endfor %}
        </table>
        {% elif role == 'user' or role == 'moderator' %}
        Эта страница доступна только администраторам. <a href='/make'>Создавайте опрос!</a><br>
        <a href='/make'><img class='earth' src="{{url_for('static', filename='img/planet-earth.svg')}}" alt='img' /></a>
        {% endif %}

        {% else %}
        <a href="/registration">Присоединяйся к нам!</a><br>
        <a href='/registration'><img class='earth' src="{{url_for('static', filename='img/planet-earth.svg')}}" alt='img' /></a>
    {% endif %}
{% endblock content %}
