{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/users.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <title> Главная </title>
{% endblock head %}

{% block menu %}
    <li><a class='main_a now' href="/"> Главная </a></li>
    <li><a class='main_a' href='/make'> Создать мероприятие </a></li>
    {% if session['logged_in'] %}
    <li><a class='main_a' href='/account'> {{ session['username'] }} </a></li>
    <li><a class='main_a' href='/logout'> Выйти </a></li>
    {% else %}
    <li><a class='main_a' href='/login'> Войти </a></li>
    <li><a class='main_a' href='/registration'> Зарегистрироваться </a></li>
    {% endif %}
    <li><a class='main_a' href='/info'> О проекте </a></li>
    <li><a class='main_a' href='/feedback'> Отзывы </a></li>
{% endblock menu %}

{% block content %}
    {% if all_events %}

    <h2> Список мероприятий </h2>
    <table>
        <tr class='non-hover'>
            <th> № </th>
            <th> Название </th>
            <th> Дата </th>
            <th> Кол-во участников </th>
            <th> Ссылка </th>
        </tr>
        {% for event in all_events %}
        <tr>
            <a href = "{{ url_for('event', event_id=event.id) }}">
                <td class='left'>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.date }} </td>
                <td>{{ event.members }} </td>
                <td class ='right'><a class='dop_a' href="{{ url_for('event', event_id=event.id) }}"> Полное описание </a></td>
            </a>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <a href='/account'><img class="earth" src="{{url_for('static', filename='img/logo.png')}}" alt='img' /></a>

    {% else %}
        <p> Нет актуальных мероприятий. <a class="dop_a" href="/make"> Хотите быть первым? </a></p>
        <hr/>
        {% if session['logged_in'] %}
            <a href='/account'><img class='earth' src="{{url_for('static', filename='img/logo.png')}}" alt='img' /></a>
        {% else %}
            <a href='/registration'><img class='earth' src="{{url_for('static', filename='img/logo.png')}}" alt='img' /></a>
        {% endif %}
        <p> Нажимай и присоединяйся к нам! </p>
    {% endif %}
{% endblock content %}
