{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/make.css') }}">
    <title> Создание мероприятия </title>
{% endblock head %}

{% block menu %}
    <li><a class='main_a' href="/"> Главная </a></li>
    <li><a class='main_a now' href='/make'> Создать мероприятие </a></li>
    {% if session['logged_in'] %}
    <li><a class='main_a' href='/account'> {{ session['username'] }} </a></li>
    <li><a class='main_a' href='/logout'> Выйти </a></li>
    {% else %}
    <li><a class='main_a' href='/login'> Войти </a></li>
    <li><a class='main_a' href='/registration'> Зарегистрироваться </a></li>
    {% endif %}
    <li><a class='main_a' href='/info'> О проекте </a></li>
    <li><a class='main_a' href='/feedback'> Отзывы </a></li>
{% endblock menu %}

{% block content %}
    {% if session['logged_in'] %}

    <form id='forma' action="/make" method="POST" name='make' class='event'>
        {{ form.hidden_tag() }}
        <p class='text'> Создание </p>
        <hr class='hr-small'>

        <div>{{ form.title(class_='field', placeholder='Название', type='text', maxLength='120') }}</div>
        {% if form.title.errors %}
            {% for error in form.title.errors %}
                <div style="color: red; font-size: .75rem;">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <div>{{ form.content(class_='field', placeholder='Описание', type='text', size="240", maxLength='256') }}</div>
        {% if form.content.errors %}
            {% for error in form.content.errors %}
                <div style="color: red; font-size: .75rem;">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <div>{{ form.date(class_='field', placeholder='Дата проведения', type='text', size="240", maxLength='256') }}</div>
        {% if form.date.errors %}
            {% for error in form.date.errors %}
                <div style="color: red; font-size: .75rem;">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <p><input class="but" type="submit" value="Создать мероприятие"></p>
    </form>

    {% else %}
    <p> Вам надо <a class='dop_a' href="/login"> войти</a> или <a class='dop_a' href="/registration">зарегистрироваться</a>, чтобы создавать опросы! </p>
    <hr>
    <a href='/login'><img class='earth' src="{{url_for('static', filename='img/logo.png')}}" alt='img' /></a>
    {% endif %}
{% endblock content %}
