*{
margin: 0; padding: 0;
}
html{
  background: #eee;
  font-family: 'Helvetica';
}
body{
  width: 100%;
  margin: auto;
}
h1{
    color: black;
    text-align: center;
  }
/* Навигация страницы */
.nav{
  background: #222;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.nav-wrapper{
  margin: 0 auto;
  text-align: center;
}

.nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav ul li{
  display: inline-block;
}

.nav ul li:hover{
  background: #333;
}
.nav ul li a, visited{
  display: block;
  padding: 15px;
  text-decoration: none;
}
.main_a{
  color: #ccc;
}

/* Обертка основного контента для нормального отображения */
.wrapper{
  margin: 0 auto;
  text-align: center;
}
.content{
  font-family: 'Roboto Thin', arial;
  letter-spacing: 1.2px;
  margin: 70px 0 0 0;
}

/* Остальное */
hr{
  margin: 15px auto;
  width: 50%;
  color: black;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  border: none;
}

.earth{
  width: 100px;
  margin: 15px;
}


/* Стили формы */


.height{
  height: 700px;
}

.med_height{
  height: 400px;
}

.smallform{
  height: 200px;
}

.line{
  display: inline-block;
  margin: 25px;
  vertical-align: top;
}

.field{
  background: white;
  border: 1px solid black;
  margin: 10px;
  height: 35px;
  width: 200px;
  outline: none;
  font-size: 20px;
  padding: 10px;
}
.field:focus{
  border: 1px solid orange;
}

.butt{
  margin: 10px;
  padding: 15px;
  border: 2px black solid;
  background: white;
  font-size: 15px;
}
.butt:hover{
  border: 2px orange solid;
  color: orange;
  cursor: pointer;
}

/* Надпись вход */
.text{
    color: black;
    font-size: 2rem;
    font-family: 'Roboto Regular', arial;
}
.small{
  font-size:  1rem;
}

.hr-small{
  width: 275px;
}
/* Надпись под формой */
.reg{
  margin: 20px;
  font-size: 1rem;
}

.now{
  background: #179;
  color: white;
}
.dop_a{
  color: rgb(24, 162, 14);
}

.info{
  width: 300px;
  padding: 25px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 6px -6px #777;
}

.info > p{
  margin: 10px;
}

*{
margin: 0; padding: 0;
}
html{
  background: #eee;
  font-family: 'Helvetica';
}
body{
  width: 100%;
  margin: auto;
}
h1{
    color: black;
    text-align: center;
  }
/* Навигация страницы */
.nav{
  background: #222;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.nav-wrapper{
  margin: 0 auto;
  text-align: center;
}

.nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav ul li{
  display: inline-block;
}

.nav ul li:hover{
  background: #333;
}
.nav ul li a, visited{
display: block;
padding: 15px;
text-decoration: none;
}
.main_a{
  color: #ccc;
}
/* Обертка основного контента для нормального отображения */
.wrapper{
  margin: 0 auto;
  text-align: center;
}
.content{
  font-family: 'Roboto Thin', arial;
  letter-spacing: 1.2px;
  margin: 70px 0 0 0;
}

/* Остальное */
hr{
  margin: 15px auto;
  width: 50%;
  color: black;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  border: none;
}

.now{
  background: #179;
  color: white;
}
.dop_a{
  color: rgb(24, 162, 14);
}

.vote{
  background: white;
  margin: 0 auto;
  max-width: 500px;
  padding: 25px;
  box-shadow: 0 10px 6px -6px #777;
}

.author{
  text-align: right;
}
.title{
  text-align: left;
}
.hr-small {
  width: 275px;
}

.left {
  text-align: justify;
  margin-left: 40%;
}

label {
  font-size: 14px;
}

.haha{
  margin: 3px;
}

.earth{
  width: 100px;
  margin: 15px;
}

.calendar {
  width: 30px;
  margin: 15px;
}

.but{
  background: url('../img/success.svg');
  border: none;
  height: 30px;
  width: 30px;
  margin: 10px;
  outline: none;
}
.but:hover {
  cursor: pointer;
}

.close {
    background: url('../img/error.svg');
}
